.allTasksWrapper {
  max-width: 85%;
  margin: 0 auto;
  padding: 15px 10px;
  height: calc(100% - 150px);
  overflow-x: scroll;
  .taskGroup {
    margin-bottom: 40px;
    .groupTitle {
      margin-bottom: 35px;
      font-size: 38px;
      font-size: 700;
    }
    .tasksList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
