.sidebar {
  background-color: #e5e5e577;
  flex-basis: 20%;
  max-width: 20%;
  height: 100%;
  position: relative;
  margin-left: -20%;
  padding: 60px 30px;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  &.active {
    margin-left: 0;
    box-shadow: 1px 0 10px 0 rgba(#b1afaf, 0.7);
  }
  .allBtn {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    h5 {
      display: grid;
      grid-template-columns: 15px auto;
      grid-gap: 15px;
      align-items: center;
      padding: 12px 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: #5a5a5a;
      &:hover,
      &.active {
        background-color: #fff;
      }
    }
  }

  .addGroupPopup {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 20px;
    &.active {
      visibility: visible;
      opacity: 1;
    }
    .close {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #5c5c5c;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      svg {
        path {
          fill: #fff;
        }
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      div {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 15px;
      }
      button {
        width: 100%;
        border: none;
        outline: none;
        background-color: #4DD599;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
}
